* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Raleway;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.__conteiner {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background: #0F0F0F;
}
.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__top img {
  margin-right: 16px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .header__memu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .header__memu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 408px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
}
.header__bottom .header__memu ul li {
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .header__memu ul li:hover {
  background: #1F1F1F;
}
.header__bottom .header__memu .menu__link {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
}
.header__bottom nav {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  background-image: url(../img/banner/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner__content {
  width: 730px;
  margin: 0 auto;
}
.banner .banner__content .banner__logo {
  text-align: center;
  margin-bottom: 80px;
}
.banner .banner__content .banner__description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: PT Sans;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
}

.collections {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.collections > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.collections > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.collections > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.collections > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.season-top {
  background-color: #0F0F0F;
  width: 50vw;
  max-height: 730px;
}
.season-top h2 {
  font-family: Playfair Display;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 93px;
}
.season-top .seasons-top__line {
  border: 1px solid #FFFFFF;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.season-top .seasons-top__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.season-top img {
  padding: 55px 22px;
  background-color: #191B1C;
  margin-bottom: 25px;
}
.season-top .card__title {
  font-family: Playfair Display;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.season-top .card__price {
  font-family: Playfair Display;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 93px;
}

.new-coll-top {
  background-image: url(../img/collections/man-top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 50vw;
  max-height: 730px;
}
.new-coll-top .new-coll-top__content {
  width: 376px;
  margin: 0 auto;
  margin-top: 484px;
}
.new-coll-top .new-coll-top__content h2 {
  font-family: Playfair Display;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.new-coll-top .new-coll-top__line {
  border: 1px solid #FFFFFF;
  width: 120px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 32px;
}
.new-coll-top .new-coll-top__button {
  font-family: PT Sans;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 23px;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  max-width: 122px;
}

.collections__season-bottom {
  background-image: url(../img/collections/man-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 50vw;
  max-height: 730px;
}

.new-coll-bottom {
  background-color: #0F0F0F;
}
.new-coll-bottom .new-coll-bottom__content {
  max-width: 471px;
  margin: 0 auto;
}
.new-coll-bottom .new-coll-bottom__content h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: Playfair Display;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
}
.new-coll-bottom .new-coll-bottom__content .new-coll-bottom__line {
  border: 1px solid #FFFFFF;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.new-coll-bottom .new-coll-bottom__content p {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  line-height: 150%;
  margin-bottom: 70px;
}
.new-coll-bottom .new-coll-bottom__content a {
  font-family: PT Sans;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 23px;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  margin-left: 104px;
}

.reciepts {
  background-color: #0F0F0F;
}
.reciepts .reciepts__conteiner h2 {
  font-family: Playfair Display;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  padding-top: 120px;
  margin-bottom: 40px;
}
.reciepts .reciepts__conteiner .reciepts__line {
  border: 1px solid #FFFFFF;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 81px;
}
.reciepts .reciepts__conteiner .reciepts__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 23px 260px 23px 260px 23px 260px;
  grid-template-columns: repeat(4, 260px);
  -ms-grid-rows: 406px 40px 406px;
  grid-template-rows: repeat(2, 406px);
  margin: 0 auto;
  row-gap: 40px;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  max-width: 1109px;
  padding-bottom: 150px;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.reciepts .reciepts__conteiner .reciepts__cards > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.reciepts .reciepts__conteiner .reciepts__cards img {
  padding: 55px 22px;
  background-color: #191B1C;
  margin-bottom: 25px;
}
.reciepts .reciepts__conteiner .reciepts__cards .card__title {
  font-family: Playfair Display;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.reciepts .reciepts__conteiner .reciepts__cards .card__price {
  font-family: Playfair Display;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 93px;
}

.brands {
  background-color: #0F0F0F;
  min-height: 362px;
}
.brands h2 {
  margin: 0 auto;
  font-family: Playfair Display;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  padding-top: 60px;
  margin-bottom: 40px;
}
.brands .brands__line {
  border: 1px solid #FFFFFF;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.brands .brands__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.about {
  background-image: url(../img/about/about-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
}
.about .about__conteiner {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about__market {
  width: 350px;
}
.about .about__market h3 {
  font-size: 24px;
  font-family: Playfair Display;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.about .about__market p {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
}
.about .about__categories {
  width: 350px;
}
.about .about__categories h3 {
  font-size: 24px;
  font-family: Playfair Display;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.about .about__categories .categories__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
      grid-template-areas: "clock bras rem" "yv yv zap";
}
.about .about__categories .clock {
  grid-area: clocl;
}
.about .about__categories .bras {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: bras;
}
.about .about__categories .rem {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: rem;
}
.about .about__categories .yv {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: yv;
}
.about .about__categories .zap {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: zap;
}
.about .about__categories .btn {
  background-color: #0F0F0F;
  color: #FFFFFF;
  padding: 10px 20px;
  font-style: 24px;
}
.about .about__mailing {
  width: 350px;
}
.about .about__mailing h3 {
  font-size: 24px;
  font-family: Playfair Display;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.about .about__mailing p {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 37px;
}
.about .about__mailing .mailing__email {
  width: 205px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
}
.about .about__mailing .mailing__email::-webkit-input-placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5px;
}
.about .about__mailing .mailing__email::-moz-placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5px;
}
.about .about__mailing .mailing__email:-ms-input-placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5px;
}
.about .about__mailing .mailing__email::-ms-input-placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5px;
}
.about .about__mailing .mailing__email::placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5px;
}
.about .about__mailing .mailing__btn {
  width: 140px;
  height: 41px;
  background-color: #0F0F0F;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer {
  background-color: #0F0F0F;
  height: 50px;
}
.footer .footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}