@import 'nullstyle';
@import 'variables';
@import 'mixins';


//===============================================


.wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

        .main {
        flex: 1 1 auto;
    }
}

.__conteiner {
    max-width: 1920px;
    margin: 0 auto;
}

//====================header=====================


.header {
    background: #0F0F0F;
    .header__top {
        display: flex;
        justify-content: space-between;
        height: 44px;
        align-items: center;

            img {
                margin-right: 16px;
            }
    }
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

        .header__memu {
            display: flex;
            justify-content: space-between;
            align-items: center;

                ul {
                    display: flex;
                    justify-content: space-between;
                    min-width: 408px;
                    height: 80px;
                    align-items: center;
                    margin-right: 42px;

                        

                        li {
                            padding-left: 20px;
                            padding-right: 20px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            
                                &:hover {
                                background: #1F1F1F;
                            }
                        }
                }

                .menu__link {
                    font-family: $main-font-family;
                    font-weight: $main-font-weight;
                    font-size: $size-main-footer-header;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: $header-text-color;
                    
                }



            }
        nav {
            width: 60px;
            display: flex;
            justify-content: space-between;
        }
}


//=================banner=================


.banner {
    background-image: url(../img/banner/banner-bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

        .banner__content {
            width: 730px;
            margin: 0 auto;

                .banner__logo {
                    text-align: center;
                    margin-bottom: 80px;
                }

                .banner__description {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: $main-font-weight;
                    font-family: $main-font-family;
                    color: $main-text-color;
                    font-size: $size-of-price-products;
                    line-height: 150%;
                }
        }
}


//===========collections=====================


.collections {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    // grid-template-areas: 
    // 'season top new-coll-top'
    // 'collections__season-bottom new-coll-bottom';
}

// .season-top {
//     grid-area: season-top;


// }

// .new-coll-top {
//     grid-area: new-coll-top;
// }

// .collections__season-bottom {
//     grid-area: collections__season-bottom;
// }

// .new-coll-bottom {
//     grid-area: new-coll-bottom;
// }


.season-top {
    background-color: $gb-color;
    width: 50vw;
    max-height: 730px;

        h2 {
            @include blocksTitleStyles;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 93px;
        }

        .seasons-top__line {
            border: 1px solid #FFFFFF;
            width: 120px;
            margin: 0 auto;
            margin-bottom: 50px;        }

        .seasons-top__cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        img {
            padding: 55px 22px;
            background-color: #191B1C;
            margin-bottom: 25px;
        }

        .card__title {
            @include productsTitleStyles;
            text-align: left;
            margin-bottom: 10px;
        }

        .card__price {
            @include productPriceStyles;
            margin-bottom: 93px;
        }
}



.new-coll-top {
    background-image: url(../img/collections/man-top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 50vw;
    max-height: 730px;

    .new-coll-top__content {
        width: 376px;
        margin: 0 auto;
        margin-top: 484px;
        

            h2 {
                @include blocksTitleStyles;
                text-align: center;
                margin-bottom: 30px;
            }
    }

    .new-coll-top__line {
        border: 1px solid #FFFFFF;
        width: 120px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 32px;
    }

    .new-coll-top__button {
        @include collectionBtnStyles;
        border: 1px solid #FFFFFF;
        padding: 10px 20px;
        margin: 0 auto;
        display: block;
        max-width: 122px;
    }
}


.collections__season-bottom {
    background-image: url(../img/collections/man-bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 50vw;
    max-height: 730px;
}


.new-coll-bottom {
    background-color: $gb-color;
        .new-coll-bottom__content {
            max-width: 471px;
            margin: 0 auto;

                h2 {
                    margin-top: 100px;
                    margin-bottom: 40px;
                    @include blocksTitleStyles;
                }

                .new-coll-bottom__line {
                    border: 1px solid #FFFFFF;
                    width: 120px;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }

                p {
                    @include textDescStyles;
                    line-height: 150%;
                    margin-bottom: 70px;
                }

                a {
                    @include collectionBtnStyles;
                    border: 1px solid #FFFFFF;
                    padding: 10px 20px;
                    margin-left: 104px;
                }
        }
}


//===============reciepts=================


.reciepts {
    background-color: $gb-color;
        
        .reciepts__conteiner {

                h2 {
                    @include blocksTitleStyles;
                    padding-top: 120px;
                    margin-bottom: 40px;
                }

                .reciepts__line {
                    border: 1px solid #FFFFFF;
                    width: 120px;
                    margin: 0 auto;
                    margin-bottom: 81px;
                }

                .reciepts__cards {
                    display: grid;
                    grid-template-columns: repeat(4,260px);
                    grid-template-rows: repeat(2,406px);
                    margin: 0 auto;
                    row-gap: 40px;
                    column-gap: 23px;
                    max-width: 1109px;
                    padding-bottom: 150px;

                    img {
                        padding: 55px 22px;
                        background-color: #191B1C;
                        margin-bottom: 25px;
                    }

                    
                    .card__title {
                        @include productsTitleStyles;
                        text-align: left;
                        margin-bottom: 10px;
                    }
            
                    .card__price {
                        @include productPriceStyles;
                        margin-bottom: 93px;
                    }
                }
        }
}


//===========brands===================


.brands {
    background-color: $gb-color;
    min-height: 362px;

        h2 {
            margin: 0 auto;
            @include blocksTitleStyles;
            padding-top: 60px;
            margin-bottom: 40px;
        }

        .brands__line {
            border: 1px solid #FFFFFF;
            width: 120px;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        .brands__cards {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
        }
}