//Font size

$size-of-titles: 36px;
$size-of-header-titles: 24px;
$size-of-title-products: 18px;
$size-of-price-products: 16px;
$size-main-footer-header: 14px;
$seze-secondary-footer-header: 12px;

// Text colors

$main-text-color: #FFFFFF;
$secondary-text-color: #D0D0D0;
$header-text-color: #969696;

// Bg color

$gb-color: #0F0F0F;

// Font weight

$main-font-weight: 400;
$secondary-font-weight: 700;